@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Electrolize&family=Roboto+Mono&display=swap");
@keyframes slide-right {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-top {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.show {
  display: block;
  animation: slide-top 1s; }

.hidden {
  visibility: hidden;
  animation: slide-top 1s; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn {
  display: flex;
  gap: 10px; }

.btn-add {
  padding: 5px 15px;
  border: none;
  color: white;
  background-color: #2b2e2e;
  font-size: 1.4rem;
  outline: none;
  transition: .25s all ease; }
  .btn-add:hover {
    cursor: pointer;
    background-color: #ffa3fd; }

.btn-filter {
  padding: 5px 12px;
  border: none;
  color: white;
  background-color: #2b2e2e;
  font-size: 1.4rem;
  outline: none;
  transition: .25s all ease; }
  .btn-filter:hover {
    cursor: pointer;
    background-color: #ffa3fd; }

.filtro-container {
  position: relative;
  display: inline-block; }

#filtro-opciones {
  background-color: #f1f1f1;
  list-style: none;
  margin-left: 10px;
  padding: 0;
  position: absolute;
  top: -50%;
  left: 100%;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: .25 all ease; }

.filtro__li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #333333; }
  .filtro__li:hover {
    background-color: #ddd; }

.filter {
  position: relative; }

.btn-filter {
  display: block;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer; }

.filter-options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc; }

.filter-options li {
  display: block; }

.filter-options a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none; }

.filter-options a:hover {
  background-color: #eee; }

.show {
  display: block; }

.btn-delete:hover {
  cursor: pointer;
  color: red;
  scale: 1.5; }

.btn-done:hover {
  cursor: pointer;
  color: green;
  scale: 1.5; }

.btn__task {
  margin-left: auto;
  border: none;
  color: black;
  font-weight: bold;
  outline: none;
  width: 10%;
  display: flex;
  align-self: center;
  font-size: 30px;
  transition: .25s all ease; }

.done-icon {
  font-size: 25px;
  font-weight: bold; }

.filter {
  font-size: 1.3rem; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color: #191825;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif; }
  select::-ms-expand {
    display: none; }

.select {
  position: relative;
  display: flex;
  width: 400px;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em; }
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease; }

.select:hover::after {
  color: #ffa3fd; }

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../assets/img/app-background.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh; }

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; }

h1 {
  text-align: center;
  color: #2b2e2e;
  margin-bottom: 10px; }

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 500px;
  box-shadow: 1px 5px 21px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 5px 21px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 5px 21px 0px rgba(0, 0, 0, 0.45);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 30px 30px 30px;
  animation: slide-right 2s;
  backdrop-filter: blur(10px); }

.form__container {
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.form__tarea {
  display: flex;
  margin-bottom: 20px; }

input {
  padding: 15px 10px;
  outline: none;
  width: 80%;
  height: 48px;
  border: none; }

.empty {
  color: #2b2e2e; }

.li-container {
  width: 100%;
  color: #191825;
  margin-top: 20px; }

ul {
  padding: 0; }

li {
  list-style: none;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  display: flex; }

li p {
  margin: 0;
  padding: 15px;
  width: 100%; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color: #191825;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif; }
  select::-ms-expand {
    display: none; }

.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em; }
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease; }

.select:hover::after {
  color: #ffa3fd; }

#myChart {
  max-width: 500px;
  background-color: rgba(160, 162, 231, 0.3);
  border-radius: 20px;
  margin-top: 30px;
  padding-bottom: 20px; }

@media (max-width: 600px) {
  main {
    grid-template-columns: auto;
    grid-template-rows: auto auto; }
  .container__task-general {
    grid-row: 2;
    grid-column: 1; }
  #myChart {
    grid-row: 1;
    grid-column: 1; }
  #filtro-opciones {
    top: -50%;
    left: -400%;
    width: 150px;
    z-index: 100; } }
