@keyframes slide-right {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-top {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.show{
    display: block;
}
.hidden{
    display: none;
}


// Tengo pensado agragar animaciones para la siguiente preentrega 